
/* parallax scrolling */
.intro, .work, .about, .contact
  display: inline-block
  background-attachment: fixed
  background-position: top
  background-repeat: no-repeat
  background-size: cover
  font-size: 16px
  height: 100%
  width: 100%

.contentWrapper
  font-size: 0
  height: 90%
  width: 100%

.intro
  background-image: url(../assets/pexels-photo-82256.jpeg)
  color: rgb(240, 240, 240)
  text-align: center

  .intro--h1
    font-size: 100px
    font-weight: 100
    margin: 0
    margin-top: 13%

  .intro--h2
    font-size: 60px
    font-weight: 100
    font-family: 'Dosis', sans-serif

.work
  background-image: url(../assets/wood-pattern-ground-parquet-floor.jpg)
  height: auto
  padding: 40px

.projectImage
  width: 500px

.about
  background-color: rgb(245, 245, 245)

.contact
  background-image: url(../assets/pexels-photo.jpg)

// parallax scrolling wouldnt allow links to
// line up so the following is to align them
// correctly with h3s as a temporary fix

.linkSpacer-header
  position: relative

.linkSpacer-span
  position: absolute
  top: -88px
