.mainPageWrapper
  height: 100%

.about
  display: inline-block
  background-image: url(../assets/pexels-photo-48606.jpeg)
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 90%
  margin-top: 70px
  width: 100%

.work
  display: inline-block
  background-color: rgb(255, 255, 230)
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 90%
  width: 100%
