.pageDiv
  height: 100%

.header
  height: 70px

.nav--Name
  color: rgb(255, 100, 0)
  font-size: 45px

.nav
  background-color: rgb(70, 80, 80)
  padding: 5px 20px 10px 20px
  position: fixed
  top: 0
  width: 100%

  .nav--list
    display: inline-block
    float: right
    list-style-type: none
    margin: 0
    padding: 0
    text-align: right

    .navList--item
      display: inline-block
      list-style-type: none
      padding: 10px 15px
      vertical-align: middle

      .navList--link
        color: white
        text-decoration: none
        font-size: 30px
        font-weight: lighter

.aboutLink
  color: white
  font-size: 35px
  text-decoration: none
