@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans");
.pageDiv {
  height: 100%; }

.header {
  height: 55px; }

.nav--Name {
  color: #fc424b;
  display: none;
  font-weight: 100;
  font-size: 45px; }

.nav {
  background-color: #f0f0f0;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%; }
  .nav .nav--list {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding: 0; }
    .nav .nav--list .navList--item {
      display: inline-block;
      list-style-type: none;
      padding: 10px 6px;
      vertical-align: middle; }
      .nav .nav--list .navList--item .navList--link {
        color: dimgray;
        font-size: 35px;
        font-weight: 100;
        text-decoration: none; }

@media (min-width: 1024px) {
  .nav {
    padding: 5px 100px 10px 100px; }
    .nav .nav--list .navList--item {
      padding: 10px 15px; }
      .nav .nav--list .navList--item .navList--link {
        font-size: 25px;
        color: red; } }

/* parallax scrolling */
.intro, .work, .about, .contact {
  display: inline-block;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  height: 100%;
  width: 100%; }

.contentWrapper {
  font-size: 0;
  height: 92%;
  width: 100%; }

.intro {
  background-image: url(../assets/pexels-photo-129208.jpeg);
  color: #f0f0f0;
  height: 60%;
  text-align: center; }
  .intro .intro--h1 {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    margin-top: 20%;
    text-shadow: 0 1px 3px black; }
  .intro .intro--h2 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 1px 2px black; }

.work {
  background-image: url(../assets/wood-pattern-ground-parquet-floor.jpg);
  color: white;
  height: auto;
  padding: 15px; }

.work__title {
  color: #f0f0f0; }

.projectsLink {
  color: #e1e1e1;
  text-decoration: none;
  margin-bottom: 20px; }

.projectImage {
  width: 100%; }

.about {
  background-color: whitesmoke;
  padding: 15px;
  height: auto;
  font-weight: lighter; }

.aboutMeTitle {
  color: #8c8c82; }

.aboutMeP {
  color: #282828; }

.aboutMeHeadshot {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 15px auto; }

.contact {
  background-color: #404040;
  height: auto; }

.linkSpacer-header {
  position: relative; }

.linkSpacer-span {
  position: absolute;
  top: -88px; }

.contact__ul {
  color: #bfbfbf;
  list-style: none;
  margin: 15% 5%; }
  .contact__ul .contact__li {
    margin-bottom: 10px; }
    .contact__ul .contact__li .contact__link {
      color: white;
      margin-left: 10px;
      text-decoration: none;
      vertical-align: middle; }

* {
  box-sizing: border-box;
  font-family: helvetica; }

html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  height: 100%;
  width: 100%; }

main {
  height: 100%;
  width: 100%; }

.mainPageWrapper {
  height: 100%;
  width: 100%; }
