.pageDiv {
  height: 100%; }

.header {
  height: 70px; }

.nav--Name {
  color: #fc424b;
  font-weight: 100;
  font-size: 45px; }

.nav {
  background-color: #465050;
  padding: 5px 100px 10px 100px;
  position: fixed;
  top: 0;
  width: 100%; }
  .nav .nav--list {
    display: inline-block;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; }
    .nav .nav--list .navList--item {
      display: inline-block;
      list-style-type: none;
      padding: 10px 15px;
      vertical-align: middle; }
      .nav .nav--list .navList--item .navList--link {
        color: white;
        font-size: 30px;
        font-weight: 100;
        text-decoration: none; }

.aboutLink {
  color: white;
  font-size: 35px;
  text-decoration: none; }

.mainPageWrapper {
  height: 100%; }

/* parallax scrolling */
.intro, .work, .about, .contact {
  display: inline-block;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  height: 100%;
  width: 100%; }

.pageWrapper {
  font-size: 0;
  height: 90%;
  width: 100%; }

.intro {
  background-image: url(../assets/pexels-photo-48606.jpeg); }

.work {
  background-color: whitesmoke; }

.about {
  background-image: url(../assets/wood-pattern-ground-parquet-floor.jpg); }

.contact {
  background-image: url(../assets/pexels-photo.jpg); }

.linkSpacer-header {
  position: relative; }

.linkSpacer-span {
  position: absolute;
  top: -88px; }

* {
  box-sizing: border-box;
  font-family: helvetica; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

main {
  height: 100%; }
