@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans");
.header {
  background-color: #fafafa;
  border-bottom: 1px solid black;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%; }

.nav {
  margin: auto;
  height: 100%;
  width: 70%;
  text-align: center; }
  @media (min-width: 768px) {
    .nav {
      text-align: right; } }
  .nav .nav--list {
    display: inline-block;
    margin: 0;
    padding: 0; }
    .nav .nav--list .navList--item {
      display: inline-block;
      list-style-type: none;
      padding: 10px 6px;
      vertical-align: middle; }
      .nav .nav--list .navList--item .navList--link {
        color: dimgray;
        font-size: 20px;
        font-weight: 100;
        text-decoration: none; }

/* parallax scrolling */
.intro, .work, .about, .contact {
  display: inline-block;
  background-size: 100%;
  font-size: 16px;
  width: 100%; }
  @media (min-width: 768px) {
    .intro, .work, .about, .contact {
      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; } }

.contentWrapper {
  font-size: 0;
  height: 92%;
  width: 100%; }

.intro {
  background-color: #262626;
  color: #f0f0f0;
  height: 90%;
  text-align: center; }
  @media (min-width: 768px) {
    .intro {
      background-image: url(../assets/pexels-photo-129208.jpeg);
      height: 550px; } }
  .intro .intro--h1 {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    margin-top: 50%;
    text-shadow: 0 1px 3px black; }
    @media (min-width: 768px) {
      .intro .intro--h1 {
        margin-top: 160px; } }
  .intro .intro--h2 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 1px 2px black; }

.work {
  background-image: url(../assets/wood-pattern-ground-parquet-floor.jpg);
  color: white;
  height: auto;
  padding: 20px 30px; }

.work__title {
  color: #f0f0f0;
  text-align: center; }

@media (min-width: 768px) {
  .workSections {
    display: inline-block;
    padding: 0 10px;
    text-shadow: 0 1px 3px black;
    vertical-align: text-top;
    width: 33%; }
    .workSections .projectsLink {
      height: 250px;
      width: auto; }
      .workSections .projectsLink .projectImage {
        height: 250px; }
      .workSections .projectsLink .projectImgOverlay {
        color: #e67e22;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0; }
      .workSections .projectsLink .projectImgOverlay:hover {
        display: inline-block; } }

.projectsLink {
  color: #e1e1e1;
  text-decoration: none; }

.projectImage {
  width: 100%; }

.about {
  background-color: whitesmoke;
  font-weight: lighter;
  height: auto;
  padding: 15px;
  width: 100%; }
  @media (min-width: 768px) {
    .about {
      height: 320px; } }

.aboutMeTitle {
  color: #646464;
  font-size: 24px;
  font-weight: lighter;
  text-align: center; }

@media (min-width: 768px) {
  .aboutWrapper {
    margin: auto;
    width: 80%; } }

.aboutMeP {
  color: #282828;
  font-size: 18px; }
  @media (min-width: 768px) {
    .aboutMeP {
      display: inline-block;
      vertical-align: top;
      width: 70%; } }

.aboutMeHeadshot {
  background-image: url(../assets/TIY-avatar.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 180px;
  margin: 15px auto;
  width: 180px; }
  @media (min-width: 768px) {
    .aboutMeHeadshot {
      margin-left: 7%; } }

.contact {
  background-color: #404040;
  height: 70%; }
  @media (min-width: 768px) {
    .contact {
      height: 120px; } }

.linkSpacer-header {
  position: relative; }

.linkSpacer-span {
  position: absolute;
  top: -88px; }

.contact__ul {
  color: #bfbfbf;
  list-style: none;
  margin: 5% 0 0 5%; }
  @media (min-width: 768px) {
    .contact__ul {
      margin: 0;
      margin-top: 10px;
      padding: 0;
      text-align: center; } }
  .contact__ul .contact__li {
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .contact__ul .contact__li {
        display: inline-block;
        margin-right: 20px; } }
    .contact__ul .contact__li .contact__link {
      color: white;
      margin-left: 10px;
      text-decoration: none;
      vertical-align: middle; }
  .contact__ul .contact__fa {
    display: inline-block;
    margin: 10px 15px 15px 0; }
    .contact__ul .contact__fa .contact__link {
      color: white;
      text-decoration: none;
      vertical-align: middle; }

* {
  box-sizing: border-box;
  font-family: helvetica; }

html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  height: 100%;
  width: 100%; }

main {
  height: 100%;
  width: 100%; }

.mainPageWrapper {
  height: 100%;
  width: 100%; }
